

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vazifa Boshqaruvi</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-end">
        <form th:action="@{/logout}" method="post" class="d-inline">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-outline-danger my-2">
                Chiqish
            </button>
        </form>
    </div>
    <form action="" class="d-flex align-items-center">
        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
        <input type="text" class="form-control w-25 me-3" placeholder="qidirish..." name="search"
               th:value="${filter?.search}"
               onchange="this.form.submit()">
        <div class="btn-group me-3">
            <button type="submit" name="deadline_filter" value="kechikkan"
                    th:class="|btn ${filter.deadline_filter == 'kechikkan' ? 'btn-secondary' : 'btn-outline-secondary'}|">
                Kechikkan
            </button>
            <button type="submit" name="deadline_filter" value="xavfli"
                    th:class="|btn  ${filter.deadline_filter == 'xavfli' ? 'btn-secondary' : 'btn-outline-secondary'}|">
                Xavfli
            </button>
            <button type="submit" name="deadline_filter" value="yaqin"
                    th:class="|btn  ${filter.deadline_filter == 'yaqin' ? 'btn-secondary' : 'btn-outline-secondary'}|">
                Yaqin
            </button>
            <button type="submit" name="deadline_filter" value="deadlinesiz"
                    th:class="|btn ${filter.deadline_filter == 'deadlinesiz' ? 'btn-secondary' : 'btn-outline-secondary'}|">
                Deadlinesiz
            </button>
            <button type="submit" name="deadline_filter" value=""
                    th:class="|btn ${filter.deadline_filter == '' ? 'btn-secondary' : 'btn-outline-secondary'}|">hammasi
            </button>
        </div>
        <div class="mx-4"></div>
        <div class="mx-4"></div>
        <div class="d-flex align-items-center">
            <button type="submit" name="userId" value="99bf70ac-c43b-47fa-83bb-ac38c0c72ae4"
                    class="btn btn-outline-secondary rounded-circle me-2 ">Hamma
            </button>
             <th:block th:each="user : ${users}">
                 <button type="submit" name="userId" th:value="${user?.id}"
                         class="border-0 bg-transparent position-relative"
                         th:classappend="${filter?.userId == user?.id} ? 'border border-primary rounded-circle' : ''">
                     <img th:src="|/file/get/${user?.photo?.id}|"
                          class="rounded-circle img-thumbnail"
                          th:classappend="${filter?.userId == user?.id} ? 'border-success' : ''"
                          height="50" width="50" alt="User">
                     <span th:if="${filter?.userId == user?.id}"
                           class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
             ✓
         </span>
                 </button>
                 <input th:if="${filter.userId != null}" type="hidden" name="selectedUserId" th:value="${filter.userId}">
             </th:block>
        </div>
    </form>


    <form action="/report/criminals" style="display: inline-block;">
        <button class="btn btn-outline-secondary m-2">Jinoyatchilar</button>
        <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
        <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
    </form>
    <form action="/report/developer" style="display: inline-block;">
        <button class="btn btn-outline-secondary m-2">Dasturchilar hisoboti</button>
        <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
        <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
    </form>
    <div class="row">
        <div class="container mt-3">
            <div class="row">
                <div th:each="status : ${statuses}" class="col-md-3">
                    <div class="p-3 mb-3">
                        <div class="bg-secondary text-light d-flex justify-content-between align-items-center mb-2">
                            <span th:text="${status.status}" class="text-center m-2"></span>
                            <form action="/status/edite" method="get" class="d-flex align-items-center mb-0">
                                <input type="hidden" th:value="${status.id}" name="statusId">
                                <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                                <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                                <button class="btn btn-sm btn-light m-2">Tahrir</button>
                            </form>
                        </div>
                        <form th:if="${status?.isCompleted!=true}" action="/task/create" method="get"
                              class="d-flex align-items-center mb-0">
                            <input type="hidden" th:value="${status.id}" name="statusId">
                            <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                            <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                            <button class="btn btn-primary w-100">Vazifa qo'shish</button>
                        </form>
                        <div th:if="${task.status==status}" th:each="task : ${tasks}" class="border p-2 mb-2">
                            <img th:if="${task.file!=null}" th:src="|/file/get/${task?.file?.id}|" alt=""
                                 class="rounded me-2 "
                                 style="width: 100px; height: 100px;">
                            <div class="d-flex align-items-center mb-2 te">
                                <div>
                                    <h5 class="mb-0" th:text="${task.title}"></h5>
                                    <small th:if="${task.deadline != null}"
                                           th:text="'Muddati: ' + ${task.deadline}"
                                           th:class="${(today > task.deadline) ? 'text-danger' :
                                           (threeDaysLater > task.deadline && today <= task.deadline ? 'text-warning' : '')}">
                                    </small>
                                    <img th:if="${!task.users.isEmpty()}" th:each="taskUser:${task.users}"
                                         th:src="|/file/get/${taskUser?.photo?.id}|"
                                         class="rounded-circle me-2" height="30" width="30">
                                </div>
                            </div>
                            <form th:action="|/task/${task.id}|">
                                <button class="btn btn-outline-secondary m-1">Ko'rish</button>
                                <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                                <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                            </form>
                            <div class="row">
                                <div class="col-6">
                                    <form action="/task/editeStatus" method="post">
                                        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                                        <input type="hidden" name="taskId" th:value="${task.id}">
                                        <input type="hidden" name="action" value="minus">
                                        <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                                        <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                                        <button th:if="${status.number!=1&&status.isCompleted!=true}"
                                                class="btn btn-secondary"><
                                        </button>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <form action="/task/editeStatus" method="post">
                                        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                                        <input type="hidden" name="taskId" th:value="${task.id}">
                                        <input type="hidden" name="action" value="plus">
                                        <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                                        <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                                        <button th:if="${status.isCompleted!=true}" class="btn btn-secondary">></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="p-3 mb-3">
                        <form action="/status/create">
                            <button class="btn btn-primary ms-auto">Ustun qo'shish</button>
                            <input th:if="${filter.userId!=null}" type="hidden" name="selectedUserId" th:value="${filter?.userId}">
                            <input th:if="${filter.userId==null}" type="hidden" name="selectedUserId" th:value="${filter?.selectedUserId}">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

